<script src="https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/autoload.js"></script>
<script>
  (function() {
    function isMobile() {
      return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) 
        || window.innerWidth <= 768;
    }
    if (!isMobile()) {
      window.L2Dwidget.init({
        model: { 
          jsonPath: 'https://cdn.jsdelivr.net/gh/stevenjoezhang/live2d-widget@latest/live2d-widget-model-koharu/assets/koharu.model.json'
        },
        display: { 
          position: 'right',
          width: 150, 
          height: 250
        },
        mobile: { show: false }
      });
    }
  })();
</script>